<ScriptureText>
            <Versification>4</Versification>
            <LanguageIsoCode>am:::</LanguageIsoCode>
            <BiblicalTermsListSetting>Major::BiblicalTerms.xml</BiblicalTermsListSetting>
            <Naming BookNameForm="41-MAT" PostPart=".usfm" PrePart="" />
            <DeterminedVersification>True</DeterminedVersification>
            </ScriptureText>