<ScriptureText>
            <Versification>4</Versification>
            <LanguageIsoCode>aai:::</LanguageIsoCode>
            <BiblicalTermsListSetting>Major::BiblicalTerms.xml</BiblicalTermsListSetting>
            <Naming BookNameForm="46-MAT" PostPart="aai.usfm" PrePart="" />
            </ScriptureText>