<ScriptureText>
            <Versification>4</Versification>
            <LanguageIsoCode>ahr:::</LanguageIsoCode>
            <BiblicalTermsListSetting>Major::BiblicalTerms.xml</BiblicalTermsListSetting>
            <Naming BookNameForm="MAT" PostPart=".usfm" PrePart="" />
            </ScriptureText>